/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
.App {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /*width: 100%;*/
    /*height: 100%;*/
}
.export-header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.export-browser {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}
.export-buttons {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
}

.share-link {
    width: 400px;
}
.folder-list {
    height: 500px;
}
.csv-preview {
    text-align: center;
    min-height: 50px;
}
.csv-preview-spinner {
    left: calc(50% - 16px);
}
.import-table {
    height: 500px;
    width: 100%;
}
.import-table-item {
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}
.import-table-item del {
    color: red;
}
.import-table-item ins {
    color: green;
    font-weight: bold;
    text-decoration: none;
}
.coral3-Shell-content {
    line-height: 0;
}
.bulkeditor {
    line-height: 1em;
}
#upload {
    position:absolute;
    visibility:hidden;
}
iframe.tagger {
    width: 100%;
    height:100%;
    border: 0;
    padding: 0;
    margin: 0;
}
